
#formsection{
    width: 800px;
    position: relative;
    left: 700px;
    top: 300px;
}
.gender1{
  display: block;
}
.phone1{
  display: block;
}
.button1{
  width: 200px;
}
.row{
  padding: 10px;
}
.btn{
  position: relative;
  left: 10px;
}
.container{
   font-family: 'Poppins', sans-serif;
  background-color: #fff;
  padding: 40px;
  position: relative;
  right: 300px;
  bottom: 300px;

}
body{
  background: linear-gradient(#6617CB,#CB218E);
  padding: 250px;

}
.form123{
  position: relative;
  left: 100px;
}
h3{
  position: relative;
  left: 110px;
}
#customRadioInline1{
   accent-color: red;
}
[type="radio"]:checked+label:after {
  background-color: green;
  border: 2px solid;
}

